
.navbar{
	
	position:flex;
	top:0;
	width:100%;
	height:60px;
	background:#222;
	color:white;
	display:flex;
	align-items:center;
	padding:0 25px
	box-sizing:border-box;
	z-index:1000;
	justify-content:center;
	}
	
	.nav-links{
	list-style:none;
	display:flex;
	gap:25px;
	margin-right:10px;
	}

	.nav-links li a{
	color:;blue
	text-decoration:none;
	transition:0.3s;
	
	}
	
	#content{
	padding:80px 20px;
	
	}
	.logo{
	margin-right:auto;
	color:white;
	font-size:20px;
	font-weight:bold;
	text-shadow:0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ff00de;
	padding:15px 15px;
	border-radius:50%;
	padding:10px;
	background:grey;
	}
	
	section {
	background: linear-gradient(to right, #1a2a6c, #b0b0b0);
	color:white;
	text-align:center;
	padding:60px 20px;
	}
	
	.link-hero{
		background-color:white;
		color:blue;
		padding: 10px 20px;
		text-decoration:none;
		font-weight:bold;
		border-radius:5px;
	}
	
	.link-hero:hover{
		background-color:#0056b3;
		color:white;
		
	}
	.logo a{
		text-decoration:none;
		margin-right:auto;
	}